<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	
	<title>All In One</title>
</head>

<body>

	<form method="POST" action='notes'>
		
		<input type="image" name="logo1" class='logo1' src="static/logo.jpg" height="250px" width="250px">	

		<input type="image" name="logo2" class='logo2' src="static/logo.jpg" height="250px" width="250px">

		<input type="image" name="back" src="static/back.png" height="55px" width="55px">
	
		<input type="hidden" name="pageName" value="notesDetails">

	</form>

	<div class="heading">
		<marquee>
			ALL IN ONE
		</marquee>
	</div>

	<form method="post" action="downloadDocuments" class="NAT">

		<p class="uploadDetails">Uploaded On : <font color="darkorange"> {{notes[1]}}</font></p>
		
		<textarea class="content" rows="20" cols="50" maxlength="1000"
			name="content" required readonly>{{notes[0]}}</textarea>

		<ul class="documents">

			{% for i in notes[2] %}

				<li>
					<button name = "file" value={{i[0]}} class="documentButton">
						<img src="static/document.png" class="documentImage" width="60px" height="60px">
						<p class="documentName">{{i[1]}}</p>
					</button>	
				</li>	

			{% endfor %}
				
		</ul>

	</form>

</body>
</html>