<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	
	<title>All In One</title>
</head>

<body>

	<form method="POST" action={{toPage}}>
		
		<input type="image" name="logo1" class='logo1' src="static/logo.jpg" height="250px" width="250px">	

		<input type="image" name="logo2" class='logo2' src="static/logo.jpg" height="250px" width="250px">

		<input type="image" name="back" src="static/back.png" height="55px" width="55px">
	
		<input type="hidden" name="pageName" value="solutions">

	</form>

	<div class="heading">
		<marquee>
			ALL IN ONE
		</marquee>
	</div>

	{% if message %}

		<marquee class="warning">
			{{message}}
		</marquee>

	{% else %}

		<p style="font-size: 35px;position: absolute;top: 180px;left: 650px;font-weight: bold;color: darkblue;"><font color="red">{{count}}</font> Students have Submitted the Solution</p>

		<form method="POST" action="solutionDetails">

			<ul class="solutions">

				{% for i in data %}

					<li>
					
						<button class='solution' name="solution" value='{{i[0]}}'>

						<p class='head2'>
							<font color="red">{{i[1]}}</font> Posted the Solution On : 
							<font color="green">{{i[2]}}</font>
						</p>
					
						</button><br><br><br>
				
					</li>

				{% endfor %}

			</ul>

			<input type="hidden" name="pageName" value={{toPage}}>

		</form>

	{% endif %}

</body>
</html>