<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	
	<title>All In One</title>
</head>

<body>

	<form method="POST" action='mainPage'>
		
		<input type="image" name="logo1" class='logo1' src="static/logo.jpg" height="250px" width="250px">	

		<input type="image" name="logo2" class='logo2' src="static/logo.jpg" height="250px" width="250px">

		<input type="image" name="back" src="static/back.png" height="55px" width="55px">
	
		<input type="hidden" name="pageName" value="subjects">

	</form>
	
	<div class="heading">
		<marquee>
			ALL IN ONE
		</marquee>
	</div>

	<a href='unenroll'><input type='button' value={{button}} class='enroll'
		style="background-color: red;"></a>

	<p class='subjectNameHeading'>
		{{subject_name}}
	</p>

	<a href="notes">
		<button class = 'notes' name="subjectButton" value="notes">
			NOTES
		</button>
	</a>

	<a href="assignments">
		<button class = 'assignments' name="subjectButton" value="assignments">
			ASSIGNMENTS
		</button>
	</a>

	<a href="tests">
		<button class = 'tests' name="subjectButton" value="tests"> 
				TESTS
		</button>
	</a>

</body>
</html>